{% extends "registry_app.html" %}
{% load staticfiles %}

{% block top_registry_main%}
    <input id='search-input-main' name='search-input' type="text" value="">
    <button class='top-menu-buttons' id='add-staff-button' onclick="open_dialog('new-employee-window')"></button>
    <a href="/logsys/logout"><button class='top-menu-buttons-main' id='logout-button'></button></a>
    <div class='clear'></div>
{% endblock%}

{% block content %}
<div id="content-main">
    <div class='head-main'>
        <h3></h3>
    </div>
    <div id="content-list-staff">
        {%for employee in staff%}
            <div class='row'>
                <div class='avatar-block'>
                    <img src="{% static 'administration_app/img/avatar_user.jpg' %}">
                </div>
                <div class='info-block'>
                    <a href="/administration/staff/{{employee.id}}"><p>{{employee.name}}</p></a>
                    <p>{{employee.post}}</p>
                    <p>{{employee.specialization}}</p>
                </div>
                <div class='clear'></div>
            </div>
        {%endfor%}
    </div>
</div>

{% endblock %}