{% extends "registry_app.html" %}
{% load staticfiles %}

{% block top_preparations%}
        <input id='search-input-preparations' name='search-input-preparations-reg' type="text" value="Поиск">
        <button class='top-menu-buttons' id='search-button-preparations' onclick="search_preparations_reg()"></onclick></button>
        <button class='top-menu-buttons' id='add-prepation-button' onclick="open_dialog('new-prepation-window')"></button>
        <a href="/logsys/logout"><button class='top-menu-buttons' id='logout-button'></button></a>
        <div class='clear'></div>
{% endblock%}

{% block content %}
<div id="list-staff">
    <div class='head-list-staff'>
        <h3>ПРЕПАРАТЫ</h3>
    </div>
    <div id="content-list-staff">
        {%for preparation in preparations%}
            <div class='row'>
                <div class='avatar-block'>
                    <img src="{% static 'administration_app/img/preparation_avatar.png' %}">
                </div>
                <div class='info-block'>
                    <a href="/registry/preparations/{{preparation.id}}">
                    <p>{{preparation.name}}</p>
                    <p>{{preparation.type_prepations}}</p></a>
                </div>
                <div class ='delete-block'>
                    <a href=/registry/delete-prepation/{{preparation.id}}>
                    <img src="{% static 'administration_app/img/delete.png' %}"></a>
                </div>
                <div class='clear'></div>
            </div>
        {%endfor%}
    </div>
</div>
<div id='details-employee'>
    {%if flag_view_additional_info%}
        <div id="main-info">
            <div class='avatar-block'>
                <img src="{% static 'administration_app/img/preparation_avatar.png' %}">
            </div>
            <div class='info-block'>
                <p>{{preparation.name}}</p>
                <p>{{preparation.type_prepations}}</p>                
            </div>
            <div class='clear'></div>
        </div>
        <div id='contacts'>
            <div class='item-contact'>
                <div class='icon-item'>
                    <img src="{% static 'administration_app/img/phone.png' %}">
                </div>
                <div class='title-item'>
                    <h3><p>{{preparation.maker}}</p></h3>
                </div>
                <div class='clear'></div>
            </div>
            <div class='item-contact'>
                <div class='icon-item'>
                    <img src="{% static 'administration_app/img/address.png' %}">
                </div>
                <div class='title-item'>
                    <h3><p>{{preparation.maker}}</p></h3>
                </div>
                <div class='clear'></div>
            </div>
            <div class='item-contact'>
                <div class='icon-item'>
                    <img src="{% static 'administration_app/img/passport.png' %}">
                </div>
                <div class='title-item'>
                    <h3><p>{{preparation.form_release}}</p></h3>
                </div>
                <div class='clear'></div>
            </div>
                </div>
                <div id='statistics'>
                    <div id='list-prescribed-preparations'>
                        {%for recept in preparation.prescriptions_issued %}
                            <div class='prescribed-preparation'>
                                <div class='row'>
                                    <div class='icon-item'>
                                        <img src="{% static 'administration_app/img/marker-circle.png' %}">
                                    </div>
                                    <div class='title-item'>
                                        <h3><p>{{recept.name}}</p></h3>
                                    </div>
                                    <div class='clear'></div>
                                </div>
                                <div class='row'>
                                    <div class='icon-item'>
                                        <img src="{% static 'administration_app/img/marker-circle.png' %}">
                                    </div>
                                    <div class='title-item'>
                                        <h3><p>{{recept.name_patient}}</p></h3>
                                    </div>
                                    <div class='clear'></div>
                                </div>
                                <div class='row'>
                                    <div class='icon-item'>
                                        <img src="{% static 'administration_app/img/marker-circle.png' %}">
                                    </div>
                                    <div class='title-item'>
                                        <h3><p>{{recept.date_issue}}</p></h3>
                                    </div>
                                    <div class='clear'></div>
                                </div>
                            </div>
                        {%endfor%}    
                    </div>
                    <div id='charts'>
                        
                    </div>
                    <div class='clear'></div>
                </div>
            {%endif%}
        </div> 
{% endblock %}